#root {
  height: 100vh;
  width: 100vw;
  margin: auto;
  overflow: hidden;
}

p {
  margin:0
}

.landing-page {
  background-image: url("./assets/Landing-2.jpeg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.custom-container {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo {
  height: 6em;
  /*animation: rotation 6s infinite linear;*/
}

.target {
  font-size: 3em;
  transition: font-size 2s;
}

.target:hover {
  font-size: 3.5em;
}

.fade-in-3{
  animation: fade-in-animation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fade-in-5{
  animation: fade-in-animation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.fade-in-7{
  animation: fade-in-animation ease 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}



.content-hidden {
  opacity: 0;
  pointer-events: none;
}

.content-visible {
  animation: fade-in-animation ease 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.person-card {
  text-align: center;
  margin-bottom: 33vh;
}

.headshot-image {
  height: 8em;
  width: 8em;
  border-radius: 50%;
}

.introductions {
  font-size: 1.5em;
}

.arrow-container {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 25px;
  height: 20px;
  opacity: 0;
  animation: fade-in-animation ease 2s 5s forwards, bounce 1600ms 5s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
}

.arrow-down {
  height: 6px;
  background: silver;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
  border-radius: 5px;
}

.arrow-down:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 100%;
  border-radius: 5px;
  background: silver;
  transform: rotate(-90deg);
  transform-origin: 0% 100%;
}

@keyframes bounce {
  50% { transform: translateY(-15px); }
}